*{
    margin: 0;
    padding: 0;
}
.textLeft{
    text-align: left;
}
.text_center{
    text-align: center;
}
.textRight{
    text-align: right;
}
.clear_fix::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.mid_content{
    max-width: 1295px;
    margin: auto;
}

/* Begin main Css  */
body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Work Sans', sans-serif;
}

.headerSection {
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding: 6px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}
.headerSection a{
    color: #010101;;
}
.headerLogo{
    width: 29%;
}
.logo img {
    height: 50px;
    float: left;
    margin-right: 10px;
}
.logo span {
    display: inline-block;
    margin-top: 14px;
    font-size: 1.6rem;
    font-weight: 500;
}
.headerMenu {
	width: 57%;
}

.PrimaryMenu ul li{
    display: inline-block;
}
.PrimaryMenu ul li a {
	display: block;
	padding: 0px 20px;
	font-size: 16px;
	line-height: 50px;
	transition: .5s;
}
.PrimaryMenu ul li a:hover{
	color: #6278df;
}

.header_button{
    width: 10%;
    text-align: right;
}
.headerBtn {
	border: 2px solid #6278df;
	display: inline-block;
	padding: 10px 26px;
	margin-top: 10px;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 700;
	color: #6278df !important;
}
/* DropDown Menu-1 */
.PrimaryMenu ul li{
    position: relative;
}
.PrimaryMenu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    transform: scaleY(0);
    transform-origin: top center;
}
.PrimaryMenu ul li ul li{
	border-bottom: 1px solid #ddd;
}

.PrimaryMenu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.dropdown_2 {
	width: 240px !important
}
.dropdown_2 li {
	width: 100%;
}


/* Banner Section */
.banner_section {
	background: url(https://i.ibb.co/6BztJKr/mbr-4.jpg) no-repeat center center;
	background-size: cover;
	height: 190px;
	padding: 200px;
	color: #fff;
	position: relative;
	z-index: 9;
	margin-top: 40px;
}
.banner_section::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.32);
    z-index: -1;
}
.banenr_content h3 {
	font-size: 26px;
	font-weight: 400;
}
.banenr_content h2{
    font-size: 60px;
    margin: 30px 0;
}

.default_btn {
	color: #7d7d7d;
	padding: 20px 35px;
	background: #fff;
	display: inline-block;
	font-size: 21px;
	font-weight: 600;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 6px;
	transition: .4s;
}
.default_btn:hover{
    background: #6278df;
    color: #fff;
}

/* Banner Bottom */
.banner_bottom{
    background: #f7f9ff;
    padding: 100px 0;
}
.video_link{
    width: 48%;
}
.right_text{
    width: 48%;
}
.right_text h3 {
	font-size: 50px;
	font-weight: 400;
	margin-bottom: 35px;
    margin-top: -14px;
}
.right_text p {
	color: #767676;
	font-size: 21px;
	line-height: 32px;
	font-weight: 300;
}

/* Service Section */
.service_section{
    background: #fff;
    padding: 100px 0;
}
.section_title {
	margin-bottom: 90px;
}
.service_section h1 {
	font-size: 57.6px;
	margin-bottom: 30px;
}
.section_title p{
    color: #767676;
    font-size: 25px;
    font-weight: 300;
}

/* Service item */
.service_box {
	width: 31.3%;
	box-shadow: 4px 4px 20px rgba(0,0,0,.1);
	margin-right: 2%;
	margin-bottom: 30px;
	padding: 25px;
	box-sizing: border-box;
}
.s_icon {
	width: 60px;
	float: left;
	min-height: 136px;
	font-size: 45px;
	color: #6278df;
	margin-right: 20px;
}
.s_content {
	margin-top: 10px;
}
.s_content h3 {
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 30px;
}
.s_content p {
	color: #767676;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 300;
}